/*** 
	FORM ELEMENTS 
	***/

form { margin: 8px; }



input.styled, textarea.styled { background-repeat: no-repeat; background-position: 2px; border: 1px solid #000; margin-top: 5px; margin-bottom: 5px; padding: 5px 5px 5px 10px; width: 350px; box-shadow: 0px 0px 13px #999; -webkit-box-shadow: 0px 0px 13px #999; /* For I.E */ -moz-box-shadow: 0px 0px 13px #999; /* For Mozilla Web Browser */ border-radius: 4px; -webkit-border-radius: 4px; /* For I.E */ -moz-border-radius: 4px; /* For Mozilla Web Browser */ }
textarea.styled { min-height: 80px; }

button { font-family: "Open Sans", sans-serif; font-size: 14px; cursor: pointer; border: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }

.buttons { margin-bottom: 30px; }
	.buttons button { display: inline-block; margin: 0 0 4px 0; padding: 15px 30px; color: #fff; background-color: #67b5d1; border-radius: 4px; border: 1px solid #000; text-shadow: 1px 1px 1px #949494; }
		.buttons button:hover,
		.buttons button.active { background-color: #3184a1; }
		.buttons button:focus { outline: none; }


button.styled { background-color: #cc7a66; border-radius: 4px; border: 1px solid gray; padding: 10px 25px; color: #FFF; text-shadow: 1px 1px 1px #949494; }
	button.styled:hover { background-color: aliceblue; }

	button.styled.submit { background-color: burlywood; }
		button.styled.submit:hover { background-color: firebrick; }
