﻿
body nav li, body nav.slide-menu-right button.toggle { width: 100%; text-align: left; margin: 0; }

.menu-open #mask { display: block !important; }
#mask { position: fixed; top: 0; left: 0; z-index: 15; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8); }

nav > div { -webkit-font-smoothing: antialiased; text-shadow: 0 1px 0 #FFF; background: #ddd; list-style: none; margin: 30px 0; padding: 30px 0; width: 100%; }


nav li { float: left; margin: 0; padding: 0; position: relative; min-width: 25%; }
nav a { background: #ddd; color: #444; display: block; font: bold 16px/50px sans-serif; padding: 0 25px; text-align: center; text-decoration: none; -webkit-transition: all .25s ease; -moz-transition: all .25s ease; -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease; }
nav .dropdown:after { content: ' ▶'; }
nav .dropdown:hover:after { content: '\25bc'; }
nav li:hover a { background: #ccc; }
nav li ul { float: left; left: 0; opacity: 0; position: absolute; top: 35px; visibility: hidden; z-index: 1; -webkit-transition: all .25s ease; -moz-transition: all .25s ease; -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease; }
nav li:hover ul { opacity: 1; top: 50px; visibility: visible; }
nav li ul li { float: none; width: 100%; }
nav li ul a:hover { background: #bbb; }


nav.menu { position: fixed; z-index: 20; background-color: #67b5d1; overflow: hidden; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -ms-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
	nav.menu ul { list-style-type: none; margin: 20px 0; padding: 0; }
	nav.menu a { font-weight: 300; color: #fff; }
button.toggle { background-color: #3184a1; color: #fff; }
	button.toggle:focus { outline: none; }
/* slide menu left and right, push menu left and right */
nav.slide-menu-left,
nav.slide-menu-right,
nav.push-menu-left,
nav.push-menu-right { top: 0; width: 55%; height: 100%; }
	nav.slide-menu-left li,
	nav.slide-menu-right li,
	nav.push-menu-left li,
	nav.push-menu-right li { display: block; text-align: center; border-bottom: solid 1px #3184a1; border-top: solid 1px #b5dbe9; }
		nav.slide-menu-left li:first-child,
		nav.slide-menu-right li:first-child,
		nav.push-menu-left li:first-child,
		nav.push-menu-right li:first-child { border-top: none; }
		nav.slide-menu-left li:last-child,
		nav.slide-menu-right li:last-child,
		nav.push-menu-left li:last-child,
		nav.push-menu-right li:last-child { border-bottom: none; }
	nav.slide-menu-left a,
	nav.slide-menu-right a,
	nav.push-menu-left a,
	nav.push-menu-right a { display: block; padding: 10px; font-size: 18px; }
	nav.slide-menu-left button.toggle,
	nav.slide-menu-right button.toggle,
	nav.push-menu-left button.toggle,
	nav.push-menu-right button.toggle { margin: 10px 0; padding: 10px 30px; background-color: #3184a1; color: #fff; }
nav.slide-menu-left,
nav.push-menu-left { left: -300px; }
nav.slide-menu-right,
nav.push-menu-right { right: -55%; }
body.sml-open nav.slide-menu-left,
body.pml-open nav.push-menu-left { left: 0; }
body.smr-open nav.slide-menu-right,
body.pmr-open nav.push-menu-right { right: 0; }
body.pml-open #wrapper { left: 300px; }
body.pmr-open #wrapper { left: -300px; }
/* slide menu top and bottom */
nav.slide-menu-top,
nav.slide-menu-bottom,
nav.push-menu-top,
nav.push-menu-bottom { left: 0; width: 100%; height: 100px; }
	nav.slide-menu-top ul,
	nav.slide-menu-bottom ul,
	nav.push-menu-top ul,
	nav.push-menu-bottom ul { text-align: center; padding: 25px 0 0 0; }
	nav.slide-menu-top li,
	nav.slide-menu-bottom li,
	nav.push-menu-top li,
	nav.push-menu-bottom li { display: inline-block; margin: 0; vertical-align: middle; }
	nav.slide-menu-top a,
	nav.slide-menu-bottom a,
	nav.push-menu-top a,
	nav.push-menu-bottom a { display: block; line-height: 50px; padding: 0 10px; font-size: 18px; }
	nav.slide-menu-top button.toggle,
	nav.slide-menu-bottom button.toggle,
	nav.push-menu-top button.toggle,
	nav.push-menu-bottom button.toggle { display: block; line-height: 50px; margin: 0; padding: 0 10px; }
nav.slide-menu-top,
nav.push-menu-top { top: -100px; }
nav.slide-menu-bottom,
nav.push-menu-bottom { bottom: -100px; }
body.smt-open nav.slide-menu-top,
body.pmt-open nav.push-menu-top { top: 0; }
body.smb-open nav.slide-menu-bottom,
body.pmb-open nav.push-menu-bottom { bottom: 0; }
body.pmt-open #wrapper { top: 100px; }
body.pmb-open #wrapper { top: -100px; }
