﻿h2 { border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; color: #363636; font-family: "Droid Serif", Georgia, serif; font-size: 2.6em; line-height: 1.8em; font-weight: 500; margin-top: 25px; margin-bottom: 25px; padding: 12px 0; text-align: center; }

h3 { letter-spacing: -0.04em; font-weight: bold; font-size: 1.44em; margin-bottom: 10px; }

span.chyron { font-size: 1.2em; padding-top: 10px; }

.black { color: #000 !important; }

abbr { cursor: pointer; }

.deleted { text-decoration: line-through; }